.body {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.pwcontainer {
  background: #00000041;
  min-width: 400px;
  border-radius: 10px;
}

.pwheader {
  width: 100%;
  padding: 1rem;
}

.pw {
  background-color: rgba(84, 238, 153, 0.316);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding-left: 8px;
  font-size: 1.2rem;
  height: 50px;
  overflow: hidden;
  max-width: 70vw;
}

.pw button {
  display: flex;
  align-self: center;
  margin-right: 3px;
  background-color: rgba(255, 255, 255, 0.099);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 0.25rem 0.35rem;
  top: auto;
  right: 5px;
  transform: translate(0, 50%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
  font-size: medium;
  font-weight: 300;
}

.pw:hover button {
  opacity: 1;
  transform: translate(0, 0%);
}

.pwbody {
  padding: 0 1rem 1rem;
}

.formcontrol {
  color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;

  .numText {
    background: rgba(84, 238, 153, 0.316);
    border-radius: 4px;
  }
}

.generate {
  background-color: rgba(84, 238, 153, 0.316);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
}
